mat-card {
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

img {
    max-width: 40% !important;
    max-height: 40% !important;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

mat-card-content{
    text-align: center;
}

