<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>wb_incandescent</mat-icon>
            Idea
        </mat-card-title>
        <mat-card-subtitle>La aplicación del presente, para marcar tu futuro.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Scrume es una herramienta con la cuál puedes aplicar la metodología Scrum a un proyecto informático de una completa, sencilla y asistida.</p>
        <p>Aquí podras mantener el ritmo que impone la metodología ágil sin perder nada de la documentación que Scrum genera en el transcurso de los Sprints.</p>
        
        <img src="../../assets/MapaConceptual.png">

        <p>Tablero Kanban, lista de tareas automatizadas, recordatorios de los procesos de Scrum, vinculación con Git.</p>
        <p>Con Scrume tendrás el poder de un Scrum Master en tu mano.</p>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://es.wikipedia.org/wiki/Scrum_(desarrollo_de_software)" >
            <mat-icon>help_outline</mat-icon>
            <span>¿Qué es Scrum?</span>
        </a> 
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>border_all</mat-icon>DAFO</mat-card-title>
        <mat-card-subtitle>Aquí puedes ver nuestro análisis DAFO</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="../../assets/Capturssa.PNG"/>

    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>accessibility</mat-icon>Clientes</mat-card-title>
        <mat-card-subtitle>Scrume</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>En Scrume tenemos muy presente a nuestros clientes y tenemos planes personalizados para los colectivos que más lo necesitan.</p>
        <img src="../../assets/schollar.PNG"/>
        <img src="../../assets/proffesional.PNG"/>
        <img src="../../assets/teacher.PNG"/>
        <p>Podemos diferenciar tres tipos de clientes, los profesionales del sector; los alumnos, es decir, los futuros profesionales y el sector educativo.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>monetization_on</mat-icon>Precios</mat-card-title>
        <mat-card-subtitle>Tres modalidades de la aplicación</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="../../assets/Precios.png"/>
        <p>Plan Free - Un plan de prueba en el cual podras llevar a cabo un sprint con un tablero.</p>
        <p>Plan Standard - Con este plan podras generar hasta 3 proyectos con sus respectivos tableros durante los sprints necesarios.</p>
        <p>Plan Complete - Todas nuestras funcionalidades para sacar el máximo rendimiento a tus equipos.</p>
    </mat-card-content>
</mat-card>