<div id="main-sprint">
    <section id="header-sprint">
        <div>
          <h3><a href="" (click)="openTeam(sprint.project.team.id)">{{sprint.project.team.name}}</a> > <a href=""  (click)="openProject(sprint.project.id)">{{sprint.project.name}}</a> > Sprint</h3>
        </div>
      </section>
      <section id="progress-sprint">
          <button id="edit-sprint" mat-button (click)="openDialog()">
              Editar
            </button>
        <table id="progress-table-sprint">
            <tr>
                <td class="date-sprint">
                    <p>{{sprint.startDate}}</p>
                </td>
                <td style="width:50%">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{(sprint.completedHP/sprint.totalHP) * 100}}%" aria-valuemin="0"
                            aria-valuemax="100"></div>

                    </div>
                </td>
                <td class="date-sprint">
                    <p>{{sprint.endDate}}</p>
                </td>
            </tr>
        </table>
    </section>

    <!-- <section id="list-section-workspace-sprint">
        <mat-list>
            <h4>Tableros</h4>
            <mat-list-item>
                <mat-icon mat-list-icon>view_week</mat-icon>
                <h4 mat-line>Front-end</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>view_week</mat-icon>
                <h4 mat-line>Back-end</h4>
            </mat-list-item>
        </mat-list>

    </section> -->
<br/>
    <section id="dashboard-sprint">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Métricas y gráficos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <tr>
                  <td class="cell-statistics-project">{{sprint.totalTasks}} tareas</td>
                  <td class="cell-statistics-project">{{sprint.completedTasks}} tareas hechas</td>
                </tr>
                <tr>
                  <td class="cell-statistics-project">{{sprint.totalHP}}<a matTooltip="Puntos de Historia"> ph </a>totales</td>
                  <td class="cell-statistics-project">{{sprint.completedHP}}<a matTooltip="Puntos de Historia"> ph </a>realizados</td>
                </tr>
            </mat-expansion-panel>
        </mat-accordion>

    </section>
</div>
