#save-dialog {
    background-color: #38B6FF;
    color: white;
    margin-left: 1em;
}

#save-dialog:hover {
    background-color: #18A1F0;
}

#cancel-dialog {
    background-color: #e62e2e;
    color: white;
    margin-left: 1em;
}

#cancel-dialog:hover {
    background-color: #db0f0f;
}

#buttons-dialog {
    justify-content: center;
}
