<h4>Crear tarea</h4>
<div>
  <form id="prueba" action="" method="POST">
    <div>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="title"/>
        <mat-error *ngIf="title.invalid">{{ getErrorMessageTitle() }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput [formControl]="description"></textarea>
        <mat-error *ngIf="description.invalid">{{ getErrorMessageDescription() }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estimación</mat-label>
        <input matInput [formControl]="estimate"/>
        <mat-error *ngIf="estimate.invalid">{{ getErrorMessageEstimate() }}</mat-error>
      </mat-form-field>
    </div>
    <div id="buttons-dialog">
      <button id="cancel-dialog" mat-button (click)="onNoClick()">
        Cancelar
      </button>
      <button id="save-dialog" mat-button (click)="onSaveClick()" [disabled]="!validForm()" cdkFocusInitial>
        Guardar
      </button>
    </div>
  </form>
</div>
