mat-sidenav-container, mat-sidenav {
    height: 100%;
}

.menu{
    height: 10%;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    padding: 1%;
}

#icono > mat-icon{
    margin-top: 5%;
    font-size: 50px;
}

.menu > span {
    margin-left: 1%;
}

.menu > mat-icon:hover {
    cursor: pointer;
}

.menu > mat-icon {
    font-size: 40px !important;
    margin-right: 1%;
}
 
#icono{
    float: left;
    height: 100%;
}

#logo{
    margin-left: 30px;
    float: left;
    height: 100%;
}

mat-sidenav {
    width: 250px;
    background-color: whitesmoke;
}
 
main {
    padding: 10px;
}

a:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color:  #019CDD;
    align-content: flex-start;
}
 
.mat-list-item{
    list-style-type: none;
    margin-left: 1%;
    margin-top: 7px;

}

.title{
    font-size: 50px;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

button {
    background-color: darkslategray;
    
}

.mat-list-item-content{
    margin-left: 1%;
}