mat-sidenav-container, mat-sidenav {
    height: 100%;
}

.menu{
    height: 10%;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    padding: 1%;
}

#icono-desplegar-menu{
    align-content: center;
    justify-content: left;
    width: auto;
}

#icono-desplegar-menu > img {
    height: 100%;
}


.menu > div > img:hover {
    cursor: pointer;
}

.menu > mat-icon {
    font-size: 40px !important;
    margin-right: 1%;
}
 
#icono-desplegar-menu{
    float: left;
    height: 100%;
}

#logo{
    margin-left: 1%;
    float: left;
    height: 100%;
}

mat-sidenav {
    width: 250px;
    background-color: whitesmoke;
}
 
main {
    padding: 10px;
}

a:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color:  #019CDD;
    align-content: flex-start;
}
 
.mat-list-item{
    list-style-type: none;
    margin-left: 1%;
    margin-top: 7px;

}

.title{
    font-size: 50px;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

button {
    background-color: darkslategray;
    
}

.mat-list-item-content{
    margin-left: 1%;
}

/* Responsive css */
@media only screen and (max-width: 600px) {
    .menu > div > img {
        height: 60%;
        background-color: lightblue;
    }
    .menu > div {
        margin-right: 5%;
    }
  }