<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <a mat-list-item *ngFor="let item of routes" (click)="navigateTo(item.route); sidenav.close();">
      <mat-icon>{{item.icon}}</mat-icon> {{item.title}}
    </a>    
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="menu" >
      <div id="icono-desplegar-menu">
        <img (click)="sidenav.toggle()" src="../assets/menu-navbar.png"/>
      </div>
      <div id="logo">
        <img src="../assets/logo-2.png"/>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
