<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>wb_incandescent</mat-icon>Idea</mat-card-title>
        <mat-card-subtitle>The app from today, to path the future.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Scrume is a tool to apply Scrum into a project in a complete, simple and assisted way.</p>
        <p>Here you can keep up with the agile methodology without losing any of the documentation that Scrum generates in the course of the Sprints.</p>
        
        <img src="../../assets/MapaConceptual.png">

        <p>Kanban board, list of automated tasks, reminders of Scrum processes, linking with Git.</p>
        <p>With Scrume you will have the power of a Scrum Master in your hand.</p>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://en.wikipedia.org/wiki/Scrum_(software_development)" >
            <mat-icon>help_outline</mat-icon>
            <span>Scrum?</span>
        </a> 
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>border_all</mat-icon>DAFO</mat-card-title>
        <mat-card-subtitle>Here is our DAFO matrix</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="../../assets/Captursa.PNG"/>

    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>accessibility</mat-icon>Clientes</mat-card-title>
        <mat-card-subtitle>Scrume</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>In Scrume we have our customers very present and we have personalized plans for the groups that need it most.</p>
        <img src="../../assets/schollar.PNG"/>
        <img src="../../assets/proffesional.PNG"/>
        <img src="../../assets/teacher.PNG"/>
        <p>We can differentiate three types of customers, professionals in the sector; the students, that is, future professionals and the education sector.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>monetization_on</mat-icon>Precios</mat-card-title>
        <mat-card-subtitle>Three ways to join</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="../../assets/as.png"/>
        <p>Free Plan - A test plan in which you can carry out a sprint with a board.</p>
        <p>Standard Plan - With this plan you can generate up to 3 projects with their respective boards during the necessary sprints.</p>
        <p>Complete Plan - All our features to get the most out of your equipment.</p>
    </mat-card-content>
</mat-card>