.cdk-drop-list {
  width: 33%;
  float: left;
  border: 1px;
}

.nameColum {
  text-align: center;
  padding-bottom: 5px;
}

.nombreTarea {
  border-radius: 6em;
  border-style: solid 2px;
  border: 10px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.p {
  text-align: center;
}