<div id="main-project">
    <section id="header-project">
        <div>
            <h3><a href="/">{{team}}</a> > {{project}}</h3> 
        </div>
        <div>
            <p>{{desc}}</p>
        </div>
    </section>
    <section id="sprints-project">
        <div id="header-sprints-project">
            <div id="title-sprint">
                <h4>Sprints</h4>
            </div>
            <div id="buttons-project">
                <button class="button-sprints" mat-flat-button>Nuevo Sprint</button>
                <button class="button-sprints" mat-flat-button>Product Backlog</button>
            </div>
        </div>
        <div class="content-sprints-project">
            <div>
                <div class="title-progress-project">
                    <div class="name-sprint-project">
                        <p>Sprint 1</p>
                    </div>
                    <div class="progress progress-project">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="statistics-sprint-project">
                    <table>
                        <tr>
                          <td>20 tareas</td> 
                          <td>5 tareas hechas</td>
                        </tr>
                        <tr>
                          <td>100<a matTooltip="Puntos de Historia"> ph </a>totales</td>
                          <td>27<a matTooltip="Puntos de Historia"> ph </a>realizados</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- <div>
                <div>
                    <p>Sprint 1</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    <table>
                        <tr>
                            <td>20 tareas</td> 
                            <td>5 tareas hechas</td>
                        </tr>
                        <tr>
                            <td>100<a matTooltip="Puntos de Historia"> ph </a>totales</td>
                            <td>27<a matTooltip="Puntos de Historia"> ph </a>realizados</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div>
                    <p>Sprint 1</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    <table>
                        <tr>
                            <td>20 tareas</td> 
                            <td>5 tareas hechas</td>
                        </tr>
                        <tr>
                            <td>100<a matTooltip="Puntos de Historia"> ph </a>totales</td>
                            <td>27<a matTooltip="Puntos de Historia"> ph </a>realizados</td>
                        </tr>
                    </table> 
                </div> 
        </div>  -->
    </div>
    </section>
</div>
