#main-project {
    padding: 3% 10%;
}
section > * {
    float: left;
}
/* Header Proyect */
#header-project {
    margin-bottom: 2%;
    float: left;
}
#header-project > div > p{
    text-align: justify;
}
/*------------------------------*/

/* Sprints Project */
#sprints-project > div{
    width: 100%;
}

#title-sprint{
    float:left;
}

#buttons-project {
    float: right;
}
.button-sprints {
    background-color: #38B6FF;
    color: white;
    margin-left: 1em;
}
.button-sprints:hover {
    background-color: #18A1F0;
}
/*------------------------------*/

.content-sprints-project{
    margin-top: 3%;
    background-color: yellow;
    
}

.title-progress-project {
    float: left;
    width: 60%;
    background-color: blue;
    padding-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.statistics-sprint-project {
    float: right;
    width: 40%;
    align-content: center;
    
}

.name-sprint-project {
    float: left;
    width: 30%;
    background-color: green;
}

.progress-project{
    float: right;
    width: 70%;
    background-color: red;
}




