<!-- <cdk-virtual-scroll-viewport itemSize="60">
    <dl>
      <ng-container *cdkVirtualFor="let team of teams">
        <dt><mat-icon>people</mat-icon>{{team.name}}</dt>
        <dd *ngFor="let project of team.project">{{project.name}}</dd>
      </ng-container>
    </dl>
  </cdk-virtual-scroll-viewport> -->


  <mat-list>
    <mat-list-item *ngFor="let team of teams">
      <mat-icon matListIcon>people</mat-icon>
      <h3 matLine> {{team.name}} </h3>
      <mat-list-item *ngFor="let project of team.projects">
        <mat-card>
            <mat-card-title>{{project.name}}</mat-card-title>
            <!-- <img mat-card-image src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" width="50" height="100"> -->
        </mat-card>
      </mat-list-item>
    </mat-list-item>
  </mat-list>